
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
	width:100%;

}
header{
	margin: 30px 0 0 55px;
}
header a{
	font-size:27px;
	font-weight:700;
	text-decoration:none;
	color:#0a66c2;
}
i.fa.fa-linkedin-square {
    font-size: 33px;
    margin-left: 4px;
}
.container-box{
	display:flex;
	justify-content:center;
	align-items:center;
}
.sec1{
	width:350px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.2);
	border-radius:7px;
    padding: 25px;
}
.content {
    line-height: 35px;
    cursor: default;
}
.content h1{
	font-size:32px;
	font-weight:600;
}
.content p{
	font-size:14px;
	font-weight:400;
}
.input-group{
	margin-top:20px;
	position:relative;
}
.input-box {
    width: 100%;
    height: 50px;
    outline-color: rgb(10,102,194);
    position: relative;
    border-radius: 5px;
    border: 1px solid;
	border: 1px solid rgb(100 96 96);
	padding:0 15px;
}
label{
	position:absolute;
	left: 0;
    top: 0;
    margin: 14px 0 0 14px;
}
.show-btn {
    position: absolute;
    right: 8px;
    top: 13px;
    font-size: 14px;
    font-weight: 600;
	text-decoration:none;
    padding: 3px 8px;
    color: #0a66c2;
    border-radius: 25px;
    transition: 0.2s ease;
}
.show-btn:hover{
	background-color: rgb(208,232,255);
}
.forgot-pass {
    margin-top: 10px;
	width:fit-content;
	padding: 6px 8px;
	border-radius:20px;
	transition: 0.2s ease;
	
}
.forgot-pass a{
	color:#0a66c2;
	font-weight:600;
	text-decoration:none;
}
.forgot-pass:hover{
	background-color: rgb(208,232,255);
	text-decoration:underline #0a66c2 solid;
}
.btn {
    width: 100%;
	margin-top:15px;
    background-color: rgb(10,102,194);
    text-align: center;
    padding: 15px 0;
    border-radius: 27px;
	overflow:hidden;
	transition: 0.4s ease;
}
.btn:hover{
	background-color:rgb(0,65,130);
}
.btn a{
	color: white;
    padding: 15px 125px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.sec2{
	margin-top:10px;
	
}
.before-after p{
	padding:0 10px;
}
.before-after{
	display:flex;
	align-items:center;	
}
.sec2 .before-after::before{
	content:'';
	width:50%;
	height:1px;
	background-color:rgb(0 0 0 / 34%);
}
.sec2 .before-after::after{
	content:'';
	width:50%;
	height:1px;
	background-color:rgb(0 0 0 / 34%);
}
.google {
    margin-top: 12px;
    text-align: center;
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid rgb(100 96 96);
}
.google a {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
    color: #5c5151;
    font-weight: 600;
    text-decoration: none;
}
i.fa.fa-google {
    margin-right: 8px;
    font-size: 20px
}
i.fa.fa-apple {
	margin-right: 8px;
    font-size: 21px;
    color: black;
}
.container1{
	text-align:center;
	margin-top:40px;
}
.join-now a{
	text-decoration: none;
    font-weight: 600;
    color: rgb(10 102 194);
    padding: 6px 6px;
    border-radius: 24px;
	transition: 0.2s ease;
}
.join-now a:hover{
	background-color: rgb(208,232,255);
	text-decoration: underline #0a66c2 solid;
}
footer{
	margin:30px;
}
footer .footer_item{
	width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer .footer_item .footer_list{
	display: flex;
    width: 80%;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
footer .footer_item .footer_list li a{
	text-decoration:none;
	color:rgb(102,102,102);
}
footer .footer_item .footer_list li a:hover{
	text-decoration-line:underline;
}
footer .footer_item .footer-icon{
	color: black;
    font-size: 15px;
    font-weight: 700;
}
footer .footer_item .footer-icon .fa-linkedin-square{
	font-size:16px;
	margin-left:0;
	position:relative;
}
footer .footer_item .footer-icon span{
	position: absolute;
    font-size: 13px;
    width: fit-content;
    margin-left: 4px;
}